<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Blog</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
 </head>

<body>
  <header>
    <div class="container">

      <nav class="navbar">

        <div class="flex-wrapper">

          <ul class="desktop-nav">
            <li>
              <a href="/" class="nav-link">Home</a>
            </li>
            <li>
              <a href="/newpost" class="nav-link" name="new">New Blog</a>
            </li>
            <li>
              <a href="/logout" class="nav-link">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <main>

  </div>
  <div class="content">
          <div class="blog-card-group">
            <h3 style="padding-bottom: 20px;">Your BLOGS...</h3>
            {% for k in data %}

            <div class="blog-card">
                <h1>{{k['Topic']}}</h1>
                <p class="blog-text">{{k["Content"]}}</p>
                <p class="text-sm">{{k['Date']}}</p>
                <form action="/deletepost" method="post"><button  name="{{k['_id']}}">Delete</button></form>
            </div>
            {% endfor %}
          </div>
          
   </div>
    </div>

  </main>
</body>

</html>